###########
### AWS ###
###########

# aws tab completion
complete -C '/usr/local/bin/aws_completer' aws

###########
### K8s ###
###########

# Alias
alias k='kubectl'

# Kubectl auto completion

# Check if kubectl auto completion is already installed
FILE=/etc/bash_completion.d/kubectl
if [ ! -f "$FILE" ]; then
    # Asking user weather to install kubectl auto completion
    echo -n 'kubectl auto completion missing. Do you want to install it? (y/n)'
    read response
    if [ "$response" != "${response#[Yy]}" ] ;then
        # Install kubectl auto completion
        kubectl completion bash | sudo tee /etc/bash_completion.d/kubectl > /dev/null
        # Install auto completion for k alias
        complete -o default -F __start_kubectl k
        echo '#####################################'
        echo '# kubectl auto completion installed #'
        echo '# Please restart your terminal      #'
        echo '#####################################'
    fi
fi

